@include keyframes(anim_card_append){
	  0%{ margin:  0px; }
	 60%{ margin: 40px; }
	 80%{ margin: 42px; }
	100%{ margin: 40px; }
}

@include keyframes(anim_match_cards){
	  0%{ margin: 5px 0px; }
	 60%{ margin: 10px 14px; }
	 80%{ margin: 10px 15px; }
	100%{ margin: 10px 14px; }
}