$color-main: #333;
$color-light: #ecf0f1;//#fff;
$color-accent: #e67e22;//#d35400;//#ff9900;
$color-compl: #3498db;//#0D58A6;
$color-gray: #bdc3c7;//#cecece;

$font-serif: 'Open Sans', sans-serif;
$title-font: 'Open Sans', sans-serif;
$card-font: 'Open Sans', sans-serif;