$color-main: #34495e;
$color-light: #ecf0f1;//#fff;
$color-accent: #27ae60;//#d35400;//#ff9900;
$color-compl: #e67e22;//#0D58A6;
$color-gray: #95a5a6;//#cecece;

$font-serif: 'Open Sans', sans-serif;
$title-font: 'Open Sans', sans-serif;
$card-font: 'Open Sans', sans-serif;