.card{
	@extend .card-rounded;
	@extend .shadow;
	@include box-sizing;

	position: relative;
	display: inline-block;
	padding: 8px 10px;

	background-color: $color-light;
	text-align: center;
	font-family: $card-font;

	.card-text{

	}
}

.main-card{
	@extend .card;

	width: 500px;
	min-height: 200px;
}

.secondary-card{
	@extend .card;

	width: 300px;
	min-height: 120px;

	&:hover{
		background-color: $color-accent;
	}
}

.card-front{

}

.card-back{

}

.main-front-card{
	@extend .main-card;
	@extend .card-front;
}

.main-back-card{
	@extend .main-card;
	@extend .card-back;
}

.secondary-front-card{
	@extend .secondary-card;
	@extend .card-front;
}

.secondary-back-card{
	@extend .secondary-card;
	@extend .card-back;
}

textarea.card-input{
	@extend .card;

	width: 380px;
	height: 120px;
}

.disabled-secondary-card{
	@extend .secondary-card;
	
	color: $color-gray;

	&:hover{
		color: $color-main;
	}
}

.card-out{
	margin: 40px;
}

.card-in{
	@include animation('anim_card_append 0.5s');

	-webkit-animation-fill-mode: forwards;
	   -moz-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}