section{
	@extend .box-sizing;
	@extend .shadow;

	display: inline-block;
	margin-top: 20px;

	background-color: $color-light;
	vertical-align: top;

	h4.section-title{
		padding: 10px 20px;

		background-color: $color-gray;
		color: $color-main;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}

	li{
		padding: 10px;

		color: $color-main;
		cursor: pointer;
		text-transform: lowercase;
	}
}

section#stackInfo{
	ul{

		li{
			@extend .shadow;
			@extend .box-sizing;

			width: 300px;

			background-color: $color-light;

			@include transition(padding-top, 0.3s);

			&:hover{
				padding-top: 30px;

				color: $color-accent;

				@include transition(padding-top, 0.1s);

				h5{
					display: inline-block;
				}
			}
		}
	}

	ul#stackList{
		
		li{
			@extend .shadow;
			@extend .box-sizing;

			width: 300px;
			padding: 10px;

			@include transition(padding-bottom, 0.3s);

			h4{
				display: inline-block;
			}

			h5.show-hover{
				display: none;
				margin-left: 80px;
			}

			&:hover{
				padding-bottom: 30px;

				color: $color-accent;

				@include transition(padding-bottom, 0.1s);

				h5{
					display: inline-block;
				}
			}

			&.add-stack{
				color: $color-compl;
				text-transform: lowercase;
				text-align: center;
			}
		}
	}
}

section#trendingInfo{
	margin-left: 20px;
	width: 616px;

	ul{
		display: block;

		li{
			display: block;

			&:hover{
				background-color: lighten($color-gray, 20%);
				color: $color-main;
				cursor: pointer;
			}
		}
	}
}