section.dash-sec{
	@include box-sizing;

	margin-top: 16px;
	vertical-align: top;

	background-color: $color-light;

	.sec-title:first-of-type{
		margin-top: 0px;
	}

	.sec-title{
		margin-top: 16px;
		padding: 8px;
		font-size: 12pt;

		text-transform: uppercase;
		font-weight: 600;
		background-color: lighten($color-gray, 25%);
		//color: darken($color-gray, 20%);
		//background-color: $color-compl;
		color: $color-light;

		.category{
			color: $color-compl;
		}
	}

	ul.sec-list{
		padding: 8px;

		li{
			text-transform: lowercase;

			div.li-content-wrapper{
				padding-bottom: 8px;

				.li-stack-title{
					color: $color-accent;
					font-size: 12pt;
				}

				.li-stack-info{
					color: lighten($color-gray, 15%);
				}
			}

			&:last-of-type{
				div.li-content-wrapper{
					padding-bottom: 0px;
				}
			}
		}
	}

	.btn-wrapper{
		padding: 8px;

		.study-btn{
			//margin: 8px;
			padding: 25px 0px;
			border: 1px solid darken($color-accent, 10%);

			text-align: center;
			background-color: $color-accent;
			color: $color-light;

			&:hover{
				background-color: $color-compl;
				border-color: $color-compl;
				cursor: pointer;
			}
		}
	}

	&.study-sec{

		.sec-title{
			//background-color: lighten($color-compl, 15%);
			background-color: lighten($color-main, 25%);
		}

		div.my-stack-upper{
			//background-color: lighten($color-compl, 15%);
			background-color: lighten($color-main, 25%);
			color: $color-light;

			.sec-title{
				display: inline-block;
				background-color: lighten($color-main, 25%);
				//background-color: lighten($color-compl, 15%);

				&:first-of-type{
					width: 49%;
				}
			}

			.sec-title-actions{
				display: inline-block;
				width: 45%;
				font-size: 18px;

				text-align: right;

				i:hover{
					color: $color-accent;
					cursor: pointer;
				}
			}
		}

		ul{

			li{
				input[type='checkbox']{
					display: inline-block;
					vertical-align: middle;
					width: 13px;
				}

				div.li-content-wrapper{
					display: inline-block;
					vertical-align: middle;
					width: 348px;

					.li-stack-info{
						margin-top: 4px;
					}
				}
			}
		}
	}

	&.pop-sec{
		//display: inline-block;
		//width: 556px;

		.sec-title{
			//background-color: lighten($color-compl, 5%);
			color: $color-gray;
		}

		li{
			cursor: pointer;

			div.li-content-wrapper{

				.li-stack-title{
					display: inline-block;
				}

				.li-stack-info{
					display: inline-block;

					h5{
						display: inline-block;
						padding: 0px 10px;

						text-align: center;
					}
				}

				&:hover{

					.li-stack-title{
						//color: $color-compl;
						font-weight: 600;
					}

					.li-stack-info{
						color: $color-main;
					}
				}
			}
		}
	}

	&.user-sec{

		ul.sec-list{

			li{
				text-transform: none;

				div.li-content-wrapper{

					.li-stack-title{
						color: $color-main;
					}
				}
			}
		}
	}

	&.trending-cat-sec{

		ul.sec-list{

			li{

				div.li-content-wrapper{

					.li-stack-title{
						color: $color-compl;
					}
				}
			}
		}
	}
}