div#editWrapper{

	h1#stackName{
		margin: 20px 0px;

		color: $color-main;
		text-transform: uppercase;
	}

	textarea{
		display: inline-block;

		font-size: 14pt;

		&:first-of-type{
			margin-left: 10px;
		}

		&:last-of-type{
			margin-left: 20px;
		}
	}

	div#addContainer{
		vertical-align: top;
		display: inline-block;
		height: 100px;
		line-height: 145px;
		padding: 0px 40px;

		i#addCardBtn{
			cursor: pointer;

			&:hover{
				color: $color-accent;
			}
		}
	}

	ul#stackCardList{
		margin: 40px 0px;

		li{
			float: left;
			margin: 0px 10px;

			div.disabled-secondary-card{
				position: relative;

				cursor: pointer;

				i{
					position: absolute;
					right: 10px;
					top: 6px;

				}
			}
		}
	}
}