// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#standardMode{
	display: block;
	padding-top: 40px;

	text-align: center;

	div#activeCard{
		display: table;
		margin: 0px auto;

		h1{
			display: table-cell;
			vertical-align: middle;
		}
	}

	ul#answerOptions{
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		max-width: 1140px;

		text-align: center;

		li{
			display: inline-block;

			div.table{
				height: 100px;
				width: 100%;

				text-align: center;

				h3{
					display: table-cell;
					vertical-align: middle;
					padding: 10px;

					color: $color-main;
				}
			}

			&:hover{
				cursor: pointer;
			}
		}
	}
}

div#matchMode{
	display: none;
	padding-top: 40px;

	text-align: center;

	div.match-option{
		@include animation('anim_match_cards 0.5s');

		color: $color-main;

		-webkit-animation-fill-mode: forwards;
		   -moz-animation-fill-mode: forwards;
		        animation-fill-mode: forwards;

		&:hover{
			cursor: pointer;
		}
	}
}

div#singleMode{
	display: none;
	padding-top: 80px;

	text-align: center;

	div.flipper{
		margin: 0px auto;
		&:hover{
			div.active-card{
				background-color: $color-compl;
				cursor: pointer;
			}
		}
	}

	div.active-card{
		display: table;
		margin: 0px auto;

		h1{
			display: table-cell;
			vertical-align: middle;
		}
	}
}

div#scoreWrapper{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 40px 0px;

	div.wrapper{

		h1{
			position: relative;
			overflow: hidden;

			color: darken($color-light, 10%);

			@include transition(color, 0.4s);

			span{
				position: absolute;
				left: 30px;
				top: -20px;

				font-size: 20px;
			}

			&.correct{
				overflow: visible;
				color: $color-accent;

				@include transition(color, 0.4s);

				span{
					top: -60px;

					@include transition(top, 1s);
				}
			}

			&.incorrect{
				color: #c0392b;

				@include transition(color, 0.4s);

				span{
					top: -60px;

					@include transition(top, 1s);
				}
			}
		}
	}
}

div#timerWrapper{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	padding-top: 40px;
	z-index: 5;

	div.wrapper{
		text-align: right;

		h3{
			@extend .card-rounded;

			position: relative;
			padding: 10px;
			display: inline-block;
			border: 1px solid darken(#bdc3c7, 4%);

			color: darken(#bdc3c7, 4%);
			background-color: lighten(#bdc3c7, 2%);
			cursor: pointer;

			&:hover{
				color: $color-main;
				background-color: $color-accent;
			}
		}
	}
}

.flip-container{
	-webkit-perspective: 1000px;
	   -moz-perspective: 1000px;
	        perspective: 1000px;
	        text-align: center;
	        margin: 0px auto;

	.flipper{
		-webkit-transition: 0.6s;
		-webkit-transform-style: preserve-3d;

		position: relative;
		margin: 0px auto;

		.main-front-card{
			z-index: 2;
		}

		.main-back-card{
			-webkit-transform: rotateY(180deg);
		}

		.main-front-card, .main-back-card{
			-webkit-backface-visibility: hidden;

			position: absolute;
			top: 0px;
			left: 0px;
		}
	}

	&.hover{
		.flipper{
			-webkit-transform: rotateY(180deg);
		}
	}

	&:hover{

		.flipper{
			-webkit-transform: rotateY(180deg);
		}
	}
}

.flip-container, .flipper, .main-front-card, .main-back-card{
	width: 500px;
	height: 200px;
}