// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#standardMode{
	display: block;
	padding-top: 40px;

	text-align: center;

	ul#answerOptions{
		margin-top: 80px;

		text-align: center;

		li{
			display: inline-block;

			&:hover{
				cursor: pointer;
			}

			h4{
				padding: 10px;

				color: $color-main;
			}
		}
	}
}

div#matchMode{
	display: none;
	padding-top: 40px;

	text-align: center;

	div.match-option{
		@include animation('anim_match_cards 0.5s');

		color: $color-main;

		-webkit-animation-fill-mode: forwards;
		   -moz-animation-fill-mode: forwards;
		        animation-fill-mode: forwards;

		&:hover{
			cursor: pointer;
		}
	}
}