<div class='wrapper'>
	<section id='stackInfo'>
		<h4 class='section-title'>My Stacks</h4>
		<ul id='stackList'>
			<li>
				<div>
					<h4>English 101</h4>
				</div>
			</li>
			<li>
				<div>
					<h4>Korean nouns</h4>
				</div>
			</li>
			<li>
				<div>
					<h4>Multicultural studies</h4>
				</div>
			</li>
			<li>
				<div>
					<h4>Russian Swear words</h4>
				</div>
			</li>
			<li class='add-stack'>
				<div>
					<h4>Add New Stack</h4>
				</div>
			</li>
		</ul>
		<h4 class='section-title'>Viewed Stacks</h4>
		<ul id='viewedList'>
			<li>
				<div>
					<h4>video game characters</h4>
				</div>
			</li>
			<li>
				<div>
					<h4>test over animals</h4>
				</div>
			</li>
		</ul>
	</section>
	<section id='trendingInfo'>
		<h4 class='section-title'>Trending Stacks</h4>
		<ul id='trendingList'>
			<li>
				<div>
					<h4>Trending item 1</h4>
				</div>
			</li>
			<li>
				<div>
					<h4>Billboard music awards</h4>
				</div>
			</li>
			<li>
				<div>
					<h4>video game characters</h4>
				</div>
			</li>
			<li>
				<div>
					<h4>test over animals</h4>
				</div>
			</li>
			<li>
				<div>
					<h4>Trending item 1</h4>
				</div>
			</li>
			<li>
				<div>
					<h4>Billboard music awards</h4>
				</div>
			</li>
			<li>
				<div>
					<h4>video game characters</h4>
				</div>
			</li>
			<li>
				<div>
					<h4>test over animals</h4>
				</div>
			</li>
			<li>
				<div>
					<h4>Trending item 1</h4>
				</div>
			</li>
			<li>
				<div>
					<h4>Billboard music awards</h4>
				</div>
			</li>
			<li>
				<div>
					<h4>video game characters</h4>
				</div>
			</li>
			<li>
				<div>
					<h4>test over animals</h4>
				</div>
			</li>
			<li>
				<div>
					<h4>Trending item 1</h4>
				</div>
			</li>
			<li>
				<div>
					<h4>Billboard music awards</h4>
				</div>
			</li>
			<li>
				<div>
					<h4>video game characters</h4>
				</div>
			</li>
			<li>
				<div>
					<h4>test over animals</h4>
				</div>
			</li>
		</ul>
	</section>
</div>