<div class='container wrapper'>

	<div class='row'>

		<div class='col col5'>
			<section class='dash-sec study-sec'>
				<h3 class='sec-title'>My Stacks</h3>
				<h3 class='sec-title-actions'><i class='fa fa-plus-circle'></i></h3>
				<ul class='sec-list'>
					<li>
						<input type='checkbox' />
						<div class='li-content-wrapper'>
							<h4 class='li-stack-title'>Russian Swear Words</h4>
							<div class='li-stack-info'>
								<h5 class='go-left'>36 Cards</h5>
								<h5 class='go-right'>Last studied 1/10/2014</h5>
								<div class='clearme'></div>
							</div>
						</div>
					</li>
					<li>
						<input type='checkbox' />
						<div class='li-content-wrapper'>
							<h4 class='li-stack-title'>Korean Verbs</h4>
							<div class='li-stack-info'>
								<h5 class='go-left'>46 Cards</h5>
								<h5 class='go-right'>Last studied 2/20/2014</h5>
								<div class='clearme'></div>
							</div>
						</div>
					</li>
					<li>
						<input type='checkbox' />
						<div class='li-content-wrapper'>
							<h4 class='li-stack-title'>Korean Nouns</h4>
							<div class='li-stack-info'>
								<h5 class='go-left'>18 Cards</h5>
								<h5 class='go-right'>Last studied 6/10/2014</h5>
								<div class='clearme'></div>
							</div>
						</div>
					</li>
					<li>
						<input type='checkbox' />
						<div class='li-content-wrapper'>
							<h4 class='li-stack-title'>Russian cities</h4>
							<div class='li-stack-info'>
								<h5 class='go-left'>36 Cards</h5>
								<h5 class='go-right'>Last studied 1/10/2014</h5>
								<div class='clearme'></div>
							</div>
						</div>
					</li>
					<li>
						<input type='checkbox' />
						<div class='li-content-wrapper'>
							<h4 class='li-stack-title'>Korean grammar</h4>
							<div class='li-stack-info'>
								<h5 class='go-left'>46 Cards</h5>
								<h5 class='go-right'>Last studied 2/20/2014</h5>
								<div class='clearme'></div>
							</div>
						</div>
					</li>
				</ul>
				<h3 class='sec-title'>Favorited Stacks</h3>
				<ul class='sec-list'>
					<li>
						<input type='checkbox' />
						<div class='li-content-wrapper'>
							<h4 class='li-stack-title'>Jiyong's Spanish Set</h4>
							<div class='li-stack-info'>
								<h5 class='go-left'>36 Cards</h5>
								<h5 class='go-right'>Last studied 1/10/2014</h5>
								<div class='clearme'></div>
							</div>
						</div>
					</li>
					<li>
						<input type='checkbox' />
						<div class='li-content-wrapper'>
							<h4 class='li-stack-title'>Jiyongs Beauty Words</h4>
							<div class='li-stack-info'>
								<h5 class='go-left'>46 Cards</h5>
								<h5 class='go-right'>Last studied 2/20/2014</h5>
								<div class='clearme'></div>
							</div>
						</div>
					</li>
					<li>
						<input type='checkbox' />
						<div class='li-content-wrapper'>
							<h4 class='li-stack-title'>Names of plants</h4>
							<div class='li-stack-info'>
								<h5 class='go-left'>46 Cards</h5>
								<h5 class='go-right'>Last studied 2/20/2014</h5>
								<div class='clearme'></div>
							</div>
						</div>
					</li>
				</ul>
				<div class='study-btn'><h2>Study</h2></div>
			</section>
		</div>

		<div class='col col7'>
			<section class='dash-sec pop-sec'>
				<h3 class='sec-title'>Popular stacks in <span class='category'>Korean</span></h3>
				<ul class='sec-list'>
					<li>
						<div class='li-content-wrapper'>
							<h4 class='li-stack-title'>Korean Adjective Set</h4>
							<div class='li-stack-info go-right'>
								<h5>36 Cards</h5>
								<h5>356 Views</h5>
								<h5>45 Favorited</h5>
							</div>
						</div>
					</li>
					<li>
						<div class='li-content-wrapper'>
							<h4 class='li-stack-title'> UNO Korean 101</h4>
							<div class='li-stack-info go-right'>
								<h5>136 Cards</h5>
								<h5>216 Views</h5>
								<h5>10 Favorited</h5>
							</div>
						</div>
					</li>
					<li>
						<div class='li-content-wrapper'>
							<h4 class='li-stack-title'>Advanced Korean Grammar</h4>
							<div class='li-stack-info go-right'>
								<h5>28 Cards</h5>
								<h5>118 Views</h5>
								<h5>15 Favorited</h5>
							</div>
						</div>
					</li>
				</ul>
			</section>
			<section class='dash-sec pop-sec'>
				<h3 class='sec-title'>Popular stacks in <span class='category'>Russian</span></h3>
				<ul class='sec-list'>
					<li>
						<div class='li-content-wrapper'>
							<h4 class='li-stack-title'>Korean Adjective Set</h4>
							<div class='li-stack-info go-right'>
								<h5>36 Cards</h5>
								<h5>356 Views</h5>
								<h5>45 Favorited</h5>
							</div>
						</div>
					</li>
					<li>
						<div class='li-content-wrapper'>
							<h4 class='li-stack-title'> UNO Korean 101</h4>
							<div class='li-stack-info go-right'>
								<h5>136 Cards</h5>
								<h5>216 Views</h5>
								<h5>10 Favorited</h5>
							</div>
						</div>
					</li>
					<li>
						<div class='li-content-wrapper'>
							<h4 class='li-stack-title'>Advanced Korean Grammar</h4>
							<div class='li-stack-info go-right'>
								<h5>28 Cards</h5>
								<h5>118 Views</h5>
								<h5>15 Favorited</h5>
							</div>
						</div>
					</li>
				</ul>
			</section>

			<div class='row'>
				<div class='col col6'>
					<section class='dash-sec pop-sec trending-cat-sec'>
						<h3 class='sec-title'>Trending Categories</h3>
						<ul class='sec-list'>
							<li>
								<div class='li-content-wrapper'>
									<h4 class='li-stack-title'>Korean</h4>
								</div>
							</li>
							<li>
								<div class='li-content-wrapper'>
									<h4 class='li-stack-title'>Russian</h4>
								</div>
							</li>
							<li>
								<div class='li-content-wrapper'>
									<h4 class='li-stack-title'>Biology 101</h4>
								</div>
							</li>
						</ul>
					</section>
				</div>
				<div class='col col6'>
					<section class='dash-sec pop-sec user-sec'>
						<h3 class='sec-title'>Popular Users</h3>
						<ul class='sec-list'>
							<li>
								<div class='li-content-wrapper'>
									<h4 class='li-stack-title'>HerpDerp</h4>
								</div>
							</li>
							<li>
								<div class='li-content-wrapper'>
									<h4 class='li-stack-title'>LoremIpsum</h4>
								</div>
							</li>
							<li>
								<div class='li-content-wrapper'>
									<h4 class='li-stack-title'>Wanker</h4>
								</div>
							</li>
						</ul>
					</section>
				</div>
				<div class='clearme'></div>
			</div>

			<section class='dash-sec pop-sec trending-sec'>
				<h3 class='sec-title'>Trending Stacks</h3>
				<ul class='sec-list'>
					<li>
						<div class='li-content-wrapper'>
							<h4 class='li-stack-title'>UNL Biology 101</h4>
							<div class='li-stack-info go-right'>
								<h5>36 Cards</h5>
								<h5>356 Views</h5>
								<h5>45 Favorited</h5>
							</div>
						</div>
					</li>
					<li>
						<div class='li-content-wrapper'>
							<h4 class='li-stack-title'>Cornell Intro to Law</h4>
							<div class='li-stack-info go-right'>
								<h5>36 Cards</h5>
								<h5>356 Views</h5>
								<h5>45 Favorited</h5>
							</div>
						</div>
					</li>
					<li>
						<div class='li-content-wrapper'>
							<h4 class='li-stack-title'>Physics at Millard South</h4>
							<div class='li-stack-info go-right'>
								<h5>36 Cards</h5>
								<h5>356 Views</h5>
								<h5>45 Favorited</h5>
							</div>
						</div>
					</li>
				</ul>
			</section>
		</div>

		<div class='clearme'></div>
	</div>
</div>