<div id='editWrapper' class='wrapper'>
	<h1 id='stackName'>My Stack Name</h1>
	<div id='newCardForm'>
		<textarea id='frontText' type='text' class='word-input shadow' placeholder="Front Text..."></textarea>
		<textarea id='backText' type='text' class='word-input shadow' placeholder="Back Text..."></textarea>
		<div id='addContainer'><i id='addCardBtn' class='fa fa-plus-circle fa-3x'></i></div>
	</div>
	<ul id='stackCardList'>
		<li class='created-cards'>
			<h2 class='shadow'>
				Card One
				<i class='fa fa-edit'></i>
			</h2>
		</li>
		<div class='clearme'></div>
	</ul>
</div>