<div id='editWrapper' class='wrapper'>
	<h1 id='stackName'>My Stack Name</h1>
	<div id='newCardForm'>
		<textarea id='frontText' type='text' class='card-input' placeholder="Front Text..."></textarea>
		<textarea id='backText' type='text' class='card-input' placeholder="Back Text..."></textarea>
		<div id='addContainer'><i id='addCardBtn' class='fa fa-plus-circle fa-3x'></i></div>
	</div>
	<ul id='stackCardList'>
		<li>
			<div class='disabled-secondary-card'>
				<h4>Card One</h4>
				<i class='fa fa-edit'></i>
			</div>
		</li>
		<div class='clearme'></div>
	</ul>
</div>