<div id='timerWrapper'>
	<div class='wrapper'>
		<h3 class='timer'>Start Timer</h3>
	</div>
</div>

<div id='scoreWrapper'>
	<div class='wrapper'>
		<h1>5 / 6<span>+1</span></h1>
	</div>
</div>

<div id="standardMode">
	<div id='activeCard' class="main-front-card">
		<h1 class='card-text'>Amigo sombrero es en fuego</h1>
	</div>
	<ul id="answerOptions">
		<li class="secondary-card card-out"><h3>Man</h3></li>
		<li class="secondary-card card-out"><h3>Woman</h3></li>
		<li class="secondary-card card-out"><h3>Child</h3></li>
		<div class="clearme"></div>
	</ul>
</div>

<div id="matchMode" class='container'>
	<div class="row">
		<div class='col1 col'>
			<div class="secondary-card match-option">Man</div>
		</div>
		<div class='col2 col'>
			<div class="secondary-card match-option">Amiga</div>
		</div>
		<div class='col3 col'>
			<div class="secondary-card match-option">Child</div>
		</div>
		<div class='col4 col'>
			<div class="secondary-card match-option">Das Auto</div>
		</div>
	</div>
	<div class="row">
		<div class='col1 col'>
			<div class="secondary-card match-option">Book</div>
		</div>
		<div class='col2 col'>
			<div class="secondary-card match-option">Goyangi</div>
		</div>
		<div class='col3 col'>
			<div class="secondary-card match-option">Cat</div>
		</div>
		<div class='col4 col'>
			<div class="secondary-card match-option">Neko</div>
		</div>
	</div>
	<div class="row">
		<div class='col1 col'>
			<div class="secondary-card match-option">Boouk</div>
		</div>
		<div class='col2 col'>
			<div class="secondary-card match-option">Blanket</div>
		</div>
		<div class='col3 col'>
			<div class="secondary-card match-option">Damyo</div>
		</div>
		<div class='col4 col'>
			<div class="secondary-card match-option">Elbow</div>
		</div>
	</div>
	<div class="row">
		<div class='col1 col'>
			<div class="secondary-card match-option">Namja</div>
		</div>
		<div class='col2 col'>
			<div class="secondary-card match-option">Woman</div>
		</div>
		<div class='col3 col'>
			<div class="secondary-card match-option">Yeoja</div>
		</div>
		<div class='col4 col'>
			<div class="secondary-card match-option">Picture</div>
		</div>
	</div>
</div>