// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$leftPos: 200px;
$outsidePanel: rgba(0,0,0,0.4);
$circleSize: 25px;
$circleHalf: $circleSize / 2;
$borderSize: 3px;

body{
	background-image: url("/assets/mochaGrunge.png");
}

header{

}

// header{
// 	background-color: #333;
// 	border-bottom: 3px solid #ff9900;

// 	h1{
// 		display: inline-block;
// 		width: $leftPos - 17;
// 		padding: 8px 10px;

// 		background-color: #ff9900;
// 		text-transform: uppercase;
// 		font-family: Calibri;
// 		font-size: 12pt;
// 		color: #fff;
// 		letter-spacing: 1.5px;
// 	}

// 	form{
// 		position: relative;
// 		display: inline-block;
// 		margin: 0px 350px;
// 	}

// 	input.search{
// 		display: inline-block;
// 		width: 300px;
// 		color: #666;
// 		outline: 0;
// 		border: 0;
// 		border-radius: 5px;
// 		padding: 3px 7px;
// 		font-size: 12px;
// 		font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
// 		font-weight: 100;
// 		background: #e5e5e5;
// 		text-shadow: none;
// 		box-shadow: 0 1px 0 rgba(0,0,0,1),inset 0 1px 0 rgba(34,25,25,.3);
// 		box-sizing: border-box;
// 	}

// 	button.search-submit{
// 		top: 6px;
// 		border: 0;
// 		padding: 0;
// 		background: url(https://a-v2.sndcdn.com/assets/images/header/header-icons-38b02b00.png) 50% -359px no-repeat;
// 		text-indent: 22px;
// 		overflow: hidden;
// 		width: 22px;
// 		height: 19px;
// 		position: absolute;
// 		right: 6px;
// 	}

// 	ul#barMenu{
// 		display: inline-block;
// 		color: #cecece;

// 		li{
// 			display: inline-block;
// 			margin: 0px 6px;
// 		}
// 	}
// }

// div#leftPanel{
// 	position: relative;
// 	width:0px;
// 	height: 100%;
// 	z-index: 2;

// 	border-right: $borderSize solid #ff9900;
// 	background-color: $outsidePanel;
// 	box-shadow: 3px 2px 5px #666;

// 	-webkit-transition: width 0.2s;

// 	div#staticMenuContent{
// 		overflow: hidden;
		
// 		font-family: Calibri;
// 		font-size: 9pt;
// 		color: white;

// 		h1{
// 			margin: 6px;

// 			text-transform: uppercase;
// 			color: #cecece;
// 			font-weight: bold;
// 		}

// 		div.btn-menu{
// 			margin: 6px;
// 			padding: 6px 0px;

// 			div.menu-item-selected-wrapper{
// 				text-align: center;
// 			}

// 			ul{
// 				text-align: center;

// 				li{
// 					display: none;

// 					-webkit-animation-duration: 0.25s;
// 					-webkit-animation-fill-mode: forwards;
// 				}

// 				li.item1{
// 					-webkit-animation-delay: 25ms;
// 				}

// 				li.item2{
// 					-webkit-animation-delay: 50ms;
// 				}

// 				li.item3{
// 					-webkit-animation-delay: 75ms;
// 				}

// 				li.item4{
// 					-webkit-animation-delay: 100ms;
// 				}

// 				li.item5{
// 					-webkit-animation-delay: 125ms;
// 				}
// 			}

// 			&:hover{
// 				background-color: rgba(255,255,255,0.4);
// 				border-radius: 4px;

// 				div.menu-item-selected-wrapper{
// 					color: #ff9900;
// 				}

// 				ul{

// 					li{
// 						display: inline-block;

// 						-webkit-animation-name: anim_menu;

// 						&:hover{
// 							cursor: pointer;
// 							color: #ff9900;
// 						}

// 					}
// 				}
// 			}
// 		}

// 	}

// 	div.menu-item{
// 		position: relative;
// 		display: inline-block;

// 		span.card-amt{
// 			position: absolute;
// 			top: 5px;
// 			left: 6px;
// 		}

// 		&:hover{
// 			color: #ff9900;
// 			cursor: pointer;
// 		}
// 	}

// 	div#unlockIcon{
// 		position: absolute;
// 		left: ($circleHalf * -1);
// 		width: $circleSize;
// 		height: $circleSize;

// 		color: #fff;

// 		-webkit-transition: all 0.2s;

// 		i{
// 			float: right;
// 			width: 15px;
// 			margin-right: $circleHalf - 10;
// 			padding-top: $circleHalf - 8;
// 		}

// 		i#leftUnlock{
// 			display: none;
// 		}

// 		i#leftLock{
// 			display: none;
// 		}

// 		&.locked{
// 			top: 6px;

// 			-webkit-transition: all 0.2s;

// 			div.circle{
// 				background-color: #fff;
// 				color: #333;

// 				i#leftUnlock{
// 					display: none;
// 				}

// 				i#leftArrow{
// 					display: none;
// 				}

// 				i#leftLock{
// 					display: block;
// 				}
// 			}
// 		}

// 		&.unlocked{
// 			top: 45%;

// 			-webkit-transition: all 0.2s;
// 		}

// 	}

// 	&:hover{
// 		width: $leftPos;

// 		-webkit-transition: width 0.5s;

// 		div#unlockIcon{
// 			left: ($leftPos - $circleHalf);

// 			-webkit-transition: all 0.2s;

// 			i#leftArrow{
// 				display: none;
// 			}

// 			&.unlocked{
// 				top: 45%;
// 				-webkit-transition: all 0.5s;

// 				div.circle-border{

// 					div.circle{

// 						i#leftUnlock{
// 							display: block;
// 						}

// 						&:hover{
// 							background-color: #fff;
// 							color: #333;

// 							i#leftUnlock{
// 								display: none;
// 							}

// 							i#leftLock{
// 								display: block;
// 							}
// 						}
// 					}
// 				}
// 			}

// 			&.locked{

// 				top: 6px;
// 				-webkit-transition: all 0.5s;
				
// 				div.circle-border{

// 					div.circle{

// 						i#leftUnlock{
// 							display: none;
// 						}


// 						i#leftLock{
// 							display: block;
// 						}

// 					}
// 				}			
// 			}

// 		}
// 	}

// 	&.lock-panel{
// 		width: $leftPos;

// 		div#unlockIcon{
// 			left: ($leftPos - $circleHalf);
// 		}
// 	}
// }

div#content{

	div#standardMode{
//		display: none;
	}

	ul#answerOptions{
		margin-top: 360px;

		text-align: center;

		li{
			display: inline-block;
			width: 180px;

			background-color: #fcfcfc;
			text-align: center;
			border-radius: 8px;
			box-shadow: 3px 2px 5px #666;

			&.card-out{
				margin: 40px;
			}

			&.card-in{
				-webkit-animation-name: anim_card_append;
				-webkit-animation-duration: 0.5s;
				-webkit-animation-fill-mode: forwards;
			}

			&:hover{
				background-color: #ff9900;
				cursor: pointer;
			}

			h1{
				padding: 40px 10px;
				color: $outsidePanel;
				font-family: Calibri;
				font-size: 18pt;
			}
		}
	}

	div#matchMode{
		display: none;
		max-width: 1000px;
		margin: 40px auto;

		text-align: center;

		div.row{
			padding: 20px 0px;

			div.col{
				display: inline-block;
				box-sizing: border-box;
				width: 15%;

				text-align: center;

									-webkit-animation-name: anim_match_card;
					-webkit-animation-duration: 0.25s;
 					-webkit-animation-fill-mode: forwards;

				div.match-option{
					padding: 30px 0px;
					background-color: #fcfcfc;
					font-size: 14pt;
					box-shadow: 3px 2px 5px #666;
					border-radius: 8px;
					color: $outsidePanel;
					font-family: Calibri;

					&:hover{
						background-color: #ff9900;
						cursor: pointer;
					}
				}
			}
		}
	}
}

.circle-border{
	width: $circleSize;
	height: $circleSize;
	border-radius: 50%;
	padding: $borderSize;

	background-color: #ff9900;
}

.circle{
	width: $circleSize;
	height: $circleSize;
	border-radius: 50%;

	background-color: #333;
}

div.card{
	position: absolute;
	top: 140px;
	left: 50%;
	margin-left: -250px;
	width: 500px;

	background-color: #fcfcfc;
	text-align: center;
	border-radius: 8px;
	box-shadow: 3px 2px 5px #666;

	h1{
		padding: 80px 10px;
		color: $outsidePanel;
		font-family: Calibri;
		font-size: 26pt;
	}
}


@-webkit-keyframes anim_menu{
	0%{
		padding: 4px 3px;
	}

	60%{
		padding: 10px 6px;
	}

	80%{
		padding: 9px 6px;
	}

	100%{
		padding: 9px 6px;
	}
}

@-webkit-keyframes anim_card_append{
	0%{
		margin: 0px;
	}

	60%{
		margin: 40px;
	}

	80%{
		margin: 42px;
	}

	100%{
		margin: 40px;
	}
}

@-webkit-keyframes anim_match_card{
	0%{
		margin: 0px 0px;
	}

	60%{
		margin: 0px 20px;
	}

	80%{
		margin: 0px 22px;
	}

	100%{
		margin: 0px 20px;
	}
}