<header class='shadow'>
	<div class='wrapper'>

		<h3 id='logo'>Flashkards<span>BETA</span></h3>

		<ul id='studyModeList'>
			<li class='mode-option'>
				<h4 id='currentMode'>Standard</h4>
				<div id='modeSubmenu' class='submenu-container'>
					<ul class='submenu'>
						<li class='submenu-option'>
							<h4>Standard</h4>
						</li>
						<li class='submenu-option'>
							<h4>Single</h4>
						</li>
						<li class='submenu-option'>
							<h4>Matching</h4>
						</li>
					</ul>
				</div>
			</li>
		</ul>

		<ul id='numSelList' class='study-controls'>
			<li class='mode-option'>
				<div id="numSelWrapper">
					<i class='fa fa-square-o'></i>
					<i class='fa fa-square-o'></i>
					<i class='fa fa-square-o'></i>
				</div>
				<div id='numOptionsSubmenu' class='submenu-container'>
					<ul id='numOfCardsList' class='submenu'>
						<li class='submenu-option' val='3'>
							<i class="fa fa-square-o"></i>
							<i class="fa fa-square-o"></i>
							<i class="fa fa-square-o"></i>
						</li>
						<li class='submenu-option' val='4'>
							<i class="fa fa-square-o"></i>
							<i class="fa fa-square-o"></i>
							<i class="fa fa-square-o"></i>
							<i class="fa fa-square-o"></i>
						</li>
						<li class='submenu-option' val='5'>
							<i class="fa fa-square-o"></i>
							<i class="fa fa-square-o"></i>
							<i class="fa fa-square-o"></i>
							<i class="fa fa-square-o"></i>
							<i class="fa fa-square-o"></i>
						</li>
					</ul>
				</div>
			</li>
		</ul>

		<ul id='matchingSelList' class='study-controls'>
			<li class='mode-option'>
				<div id='matchingSelWrapper'>
					<h4 id='currentMatchNum'>4x4</h4>
				</div>
				<div id='matchingOptionsSubmenu' class='submenu-container'>
					<ul id='matchingOptionsList' class='submenu'>
						<li class='submenu-option' val='4'>
							<h4>4x4</h4>
						</li>
						<li class='submenu-option' val='5'>
							<h4>5x5</h4>
						</li>
						<li class='submenu-option' val='6'>
							<h4>6x6</h4>
						</li>
					</ul>
				</div>

			</li>
		</ul>

		<ul id='navControlList'>
			<li><i class="fa fa-plus-circle"></i></li>
			<li><i class="fa fa-gear"></i></li>
			<li><i class="fa fa-inbox"></i></li>
		</ul>

	</div>
</header>